<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tic Tac Toe Game</title>
	<style type="text/css">
		body {
		  font-size: 20px;
		}		
		table	{
		   border-collapse: collapse;
			table-layout: fixed;
			width: 400px;		
			height: 400px;	
		  font-size: 50px;
		}
		td	{
		    border: 2px solid black;
		    text-align: center;
		}	
	</style>
</head>
<body>
	Player X turn : <p>
	<table>
	<tbody>
		<tr>
			<td><a href="">Select</a></td>
			<td><a href="">Select</a></td>
			<td><a href="">Select</a></td>
		</tr>
		<tr>
			<td><a href="">Select</a></td>
			<td><a href="">Select</a></td>
			<td><a href="">Select</a></td>
		</tr>
		<tr>
			<td><a href="">Select</a></td>
			<td><a href="">Select</a></td>
			<td><a href="">Select</a></td>
		</tr>
	</tbody>
	</table>
</body>
</html>