<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Tic Tac Toe Game</title>
	<style type="text/css">
		body {
		  font-size: 20px;
		}		
		table	{
		   border-collapse: collapse;
			table-layout: fixed;
			width: 450px;		
			height: 450px;	
		  font-size: 50px;
		}
		td	{
		    border: 2px solid black;
		    text-align: center;
		    width:150px; 
		    height:150px;
		}	
	</style>
</head>
<body th:object="${board}">
	<div th:if="${slotsAvailable}"><div th:unless="${winner}" th:text="'Player ' + ${currentPlayer} + ' turn :'"></div></div><p>
	<table>
	<tbody>
		<tr>
			<td th:switch="${board.getSlotType(0)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/0}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
			<td th:switch="${board.getSlotType(1)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/1}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
			<td th:switch="${board.getSlotType(2)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/2}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
		</tr>
		<tr>
			<td th:switch="${board.getSlotType(3)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/3}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
			<td th:switch="${board.getSlotType(4)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/4}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
			<td th:switch="${board.getSlotType(5)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/5}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
		</tr>
		<tr>
			<td th:switch="${board.getSlotType(6)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/6}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
			<td th:switch="${board.getSlotType(7)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/7}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
			<td th:switch="${board.getSlotType(8)}">
				<div th:unless="${winner}"><a th:case="${T(be.bnp.kata.tictactoe.model.SlotType).A}" th:href="@{/tictactoe/slot/8}" th:text="Select">Select</a></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).X}" th:text="X"></div>
				<div th:case="${T(be.bnp.kata.tictactoe.model.SlotType).O}" th:text="O"></div>
			</td>
		</tr>
	</tbody>
	</table>
	<br>
	<div th:if="${winner}" th:text="'And the winner is Player ' + ${winner}"></div><p>
	<div th:unless="${slotsAvailable}"><div th:unless="${winner}" th:text="'It is a draw game !'"></div></div><p>
	<div>Click <a th:href="@{/tictactoe}" th:text="Here"></a> to play another game</div><p>
</body>
</html>